@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translateY(90px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-90px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@keyframes roulette {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-685px));
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-1310px));
  }
}

@keyframes floatDesktop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-1815px));
  }
}

@keyframes floatDesktopG {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-2150px));
  }
}
